#contact_us
  - if @message_sent
    #message_sent Twoja wiadomość została wysłana. Wkrótce się do Ciebie odezwiemy.
    .clear
  #content
    %h2 Kontakt
    %h3
      Czekamy na Ciebie.
      Chętnie doradzimy, podpowiemy a nawet zrobimy - oczywiście za kasę.
    #oridinary
      %h4 Lokalizacja
      #zip_with_city 42-262 Nierada k. Częstochowy
      #address Targowa 164
      #country Polska
      #region Europa
      %h4 Telefon
      #phone_first +48 606 64 66 10
      %h4 Email
      #email_consulting hash4di@gmail.com
    #online_form
      %h4 Formularz online
      #description Wypełnij ten formularz, jeśli masz do nas szybkie pytanie.
      - if @contact.errors.any?
        .spacer
        #error_explanation
          #reason
            You cannot sent this message due to:
          %ul
            - @contact.errors.full_messages.each do |msg|
              %li= msg
      - form_for(@contact) do |f|
        = f.label(:name, 'Twoje Imię')
        = f.text_field(:name)
        .clear
        = f.label(:email, 'Twój adres e-mail')
        = f.text_field(:email)
        .clear
        = f.label(:message, 'Wiadomość:')
        = f.text_area(:message)
        .clear
        = submit_tag('Wyślij', :class => 'submit')
  .clear
