#gallery
  #content
    %h2 Galeria
    %h3
      Prezentujemy galerię wykonywanych przez nas usług.
    %a#ex0= image_tag('../images/wykop0_m.jpg')
    %a#ex1= image_tag('../images/wykop1_m.jpg')
    %a#ex3= image_tag('../images/wykop3_m.jpg')
    %a#ex4= image_tag('../images/wykop4_m.jpg')
    %a#ex6= image_tag('../images/wykop6_m.jpg')
    %a#ex10= image_tag('../images/wykop10_m.jpg')
    %a#ex11= image_tag('../images/wykop11_m.jpg')
    %a#ex12= image_tag('../images/wykop12_m.jpg')
    %a#ex13= image_tag('../images/wykop13_m.jpg')
    %a#ex2= image_tag('../images/wykop2_m.jpg')
    %a#ex5= image_tag('../images/wykop5_m.jpg')
    %a#ex7= image_tag('../images/wykop7_m.jpg')
    %a#ex8= image_tag('../images/wykop8_m.jpg')
    %a#ex9= image_tag('../images/wykop9_m.jpg')
    #litebox0
      %a#close zamknij
      = image_tag('../images/wykop0.jpg')
    #litebox1
      %a#close zamknij
      = image_tag('../images/wykop1.jpg')
    #litebox2
      %a#close zamknij
      = image_tag('../images/wykop2.jpg')
    #litebox3
      %a#close zamknij
      = image_tag('../images/wykop3.jpg')
    #litebox4
      %a#close zamknij
      = image_tag('../images/wykop4.jpg')
    #litebox5
      %a#close zamknij
      = image_tag('../images/wykop5.jpg')
    #litebox6
      %a#close zamknij
      = image_tag('../images/wykop6.jpg')
    #litebox7
      %a#close zamknij
      = image_tag('../images/wykop7.jpg')
    #litebox8
      %a#close zamknij
      = image_tag('../images/wykop8.jpg')
    #litebox9
      %a#close zamknij
      = image_tag('../images/wykop9.jpg')
    #litebox10
      %a#close zamknij
      = image_tag('../images/wykop10.jpg')
    #litebox11
      %a#close zamknij
      = image_tag('../images/wykop11.jpg')
    #litebox12
      %a#close zamknij
      = image_tag('../images/wykop12.jpg')
    #litebox13
      %a#close zamknij
      = image_tag('../images/wykop13.jpg')
    .vertical_spacer_3
  .clear
