<div id='header'>
  <div id='name'><%=link_to (image_tag "../images/logo.jpg"), o_nas_path %></div>
  <div id='menu'>
    <ul>
      <li><%= link_to "O NAS", o_nas_path %></li>
      <li><%= link_to "MINIKOPARKA", minikoparka_path %></li>
      <li><%= link_to "TRANSPORT", transport_path %></li>
      <li><%= link_to "GALERIA", galeria_path %></li>
      <li><%= link_to "KONTAKT", kontakt_path %></li>
    </ul>
  </div>
  <div id='motto'>minikoparka i transport</div>
</div>

